{% from "macros.html" import score_symbol %}

{% extends "layout.html" %}

{% macro player_stat_table(team, map_stats) %}
  <td> <b><a class="text-dark" href="/team/{{team.id}}">{{team.name}}</a></b> </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>

  {% for player in map_stats.player_stats.filter_by(team_id=team.id) %}
    {% if player.roundsplayed > 0 %}
      <tr>
        <td> <a href="{{player.get_steam_url()}}"> {{ player.name }} </a></td>
        <td class="text-center"> {{ player.kills }}  </td>
        <td class="text-center"> {{ player.deaths }} </td>
        <td class="text-center"> {{ player.assists }} </td>
        <td class="text-center"> {{ player.flashbang_assists }} </td>

        <td class="text-center"> {{ player.v1 }} </td>
        <td class="text-center"> {{ player.v2 }} </td>
        <td class="text-center"> {{ player.v3 }} </td>

        <td class="text-center"> {{ player.get_rating() | round(2) }} </td>
        <td class="text-center"> {{ player.get_kdr() | round(1) }} </td>
        <td class="text-center"> {{ player.get_adr() | round(1) }} </td>
        <td class="text-center"> {{ player.get_hsp() | round(2) }} </td>
      </tr>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="card card-primary">
    <div class="card-header">Command response</div>
    <div class="card-body">
      {% for message in messages %}
      <b>{{ message[1] }}</b>
      <br>
      {% endfor %}
    </div>
  </div>
  <br>
  {% endif %}
{% endwith %}

<div id="content">
  <div class="container">
  {% if admin_access and (match.live() or match.pending()) %}
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin tools
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          {% if match.live() %}
          <a class="dropdown-item" id="pause" href="{{request.path}}/pause">Pause match</a>
          <a class="dropdown-item" id="unpause" href="{{request.path}}/unpause">Unpause match</a>
          {% endif %} 
          <a class="dropdown-item" id="addplayer_team1" href="#">Add player to team1</a>
          <a class="dropdown-item" id="addplayer_team2" href="#">Add player to team2</a>
          <a class="dropdown-item" id="addplayer_spec" href="#">Add player to specator list</a>
          <a class="dropdown-item" id="rcon_command" href="#">Send rcon command</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="backup_manager" href="{{request.path}}/backup">Load a backup file</a>
          <a class="dropdown-item" href="{{request.path}}/cancel">Cancel match</a>
        </div>
    </div>

    {% endif %}

    <br>
    <br>
    <div class="card border-secondary shadow " role="alert">
      <div class="card-header">
        <b>{{team1.bracket}}</b>
        <div class="text-center">
          <h2><b>
            {{ team1.get_logo_or_flag_html(0.85, team1) }} 
            <a class="text-dark" href="/team/{{team1.id}}"> {{team1.name}}</a>
            ({{ match.team1_score }}
            {{ score_symbol(match.team1_score, match.team2_score) }}
            {{ match.team2_score }})
            <a class="text-dark" href="/team/{{team2.id}}"> {{team2.name}}</a>
            {{ team2.get_logo_or_flag_html(0.85, team2) }}
          </h2></b></div>
        </div>
      <div class="card-body">
        <h6 class="card-subtitle mb-5 text-muted text-center">
        {% if match.start_time is not none %}
         Started at {{ match.start_time.strftime('%d.%m.%Y %H:%M') }}
        {% endif %}
        {% if match.end_time is not none %}
        - Ended at {{ match.end_time.strftime('%d.%m.%Y %H:%M') }}
        {% endif %}
        </h6>
        <b>Maps to play:<br>
            {% if match.max_maps == 1 %}
            (BO1)
            {% elif match.max_maps == 2 %}
            (BO2)
            {% elif match.max_maps == 3 %}
            (BO3)
            {% endif %}
        </b>
        <br>
        <b>1.</b> {{team1.name}} picked: <b>{{ match.mappick_team1 }}</b><br>
        {% if match.max_maps >= 2 %}
        <b>2.</b> {{team2.name}} picked: <b>{{ match.mappick_team2 }}</b><br>
        {% endif %}
        {% if match.max_maps >= 3 %}
        <b>3.</b> Decider: <b>{{ match.mappick_bo3 }}</b><br>
        {% endif %}
        <br>
        <b>GOTV:</b><br>
        IP: {{match.get_server_gotv()}}
        <br>
      </div>

      <!-- <a href="/match/{{match.id}}/load_file/" target="blank"><button type="button" class="btn btn-info" href="#">Demo Map 1</button></a>
      <a href="/match/{{match.id}}/load_file/" target="blank"><button type="button" class="btn btn-info" href="#">Demo Map 2</button></a>-->
      {% if match.end_time is not none %}
      <div class="card-footer">
        <b>Demos:</b><br>
        {% if match.demomap1_exists() %}
          <a href="/match/{{match.id}}/load_demo_map1/" target="blank"><button type="button" class="btn btn-info">Download {{match.mappick_team1}}</button></a>
        {% else %}
            <button type="button" class="btn btn-info" disabled>
            <span>{{match.mappick_team1}} </span>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>
          </button>
        {% endif %}
        
        {% if match.max_maps > 1 %}
          {% if match.demomap2_exists() %}
            <a href="/match/{{match.id}}/load_demo_map2/" target="blank">
              <button type="button" class="btn btn-info">Download {{match.mappick_team2}}</button>
            </a>
          {% else %}
            <button type="button" class="btn btn-info" disabled>
            <span class="">{{match.mappick_team2}} </span>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>
          </button>
          {% endif %}
        {% endif %}

        {% if match.max_maps > 2 %}
          {% if match.demomap3_exists() %}
            <a href="/match/{{match.id}}/load_demo_map3/" target="blank">
              <button type="button" class="btn btn-info">Download {{match.mappick_bo3}}</button>
            </a>
          {% else %}
            <button type="button" class="btn btn-info" disabled>
              <span>{{match.mappick_bo3}} </span>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span class="sr-only">Loading...</span>
            </button>
          {% endif %}
        {% endif %}
        {% endif %}
        {% if not match.demomap1_exists() or not match.demomap2_exists() %}
          {% if match.end_time is not none %}
          <div class="text-muted"><i>(Es kann bis zu 20 Minuten nach Match-Ende dauern, bis die Demos verfügbar sind!)</i></div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

    <br>
    {% if match.cancelled %}
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
        This match has been cancelled.
    </div>
    {% endif %}

    {% if match.forfeit %}
    <div class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
        This match was forfeit by {{match.get_loser()}}.
    </div>
    {% endif %}


    {% if match.start_time is not none %}
    <!-- <p>Started at {{ match.start_time.strftime('%Y-%m-%d %H:%M') }}</p> -->
    {% else %}
    <div class="card " role="alert">
      <div class="card-body">
        This match is pending start.
      </div>
    </div>
    {% endif %}
    <!-- {% if match.end_time is not none %}
    <p>Ended at {{ match.end_time.strftime('%Y-%m-%d %H:%M') }}</p>
    {% endif %} -->
  <div class="container">
    {% for map_stats in map_stat_list %}
    <br>
    <div class="card border-secondary">
      <div class="card-header">
        <b>Map {{map_stats.map_number + 1}}:</b> {{ map_stats.map_name }}
        <div class="text-center">
          <h5><b>{{team1.name}} ({{map_stats.team1_score}} {{ score_symbol(map_stats.team1_score, map_stats.team2_score) }}{{map_stats.team2_score}}) {{team2.name}}</b></h5>
        </div>
      </div>

      <div class="card-body shadow">
      <h6 class="card-subtitle text-muted text-center">
          <!-- {% if match.start_time is not none %}
            Started at {{ match.start_time.strftime('%d.%m.%Y %H:%M') }}
          {% endif %}
          {% if match.end_time is not none %}
          - Ended at {{ match.end_time.strftime('%d.%m.%Y %H:%M') }}
          {% endif %} -->
        </h6>
        <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Player</th>
              <th class="text-center">Kills</th>
              <th class="text-center">Deaths</th>
              <th class="text-center">Assists</th>
              <th class="text-center">Flash assists</th>
              <th class="text-center">1v1</th>
              <th class="text-center">1v2</th>
              <th class="text-center">1v3</th>
              <th class="text-center">Rating</th>
              <th class="text-center"><acronym title="Kill/Death Rating">K/D</acronym></th>
              <th class="text-center"><acronym title="Average damage per round">ADR</acronym></th>
              <th class="text-center"><acronym title="Headshot percentage">HSP</acronym></th>
            </tr>
          </thead>
          <tbody>
          {{ player_stat_table(team1, map_stats) }}
          {{ player_stat_table(team2, map_stats) }}
          </tbody>
        </table>
      </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

  <br>
</div>

<script>

jQuery("#addplayer_team1").click(function(e) {
    var input = prompt("Please enter a steamid to add to {{team1.name}}", "");
    if (input != null) {
      window.location.href = "{{request.path}}/adduser?team=team1&auth=" + encodeURIComponent(input);
    }
});

jQuery("#addplayer_team2").click(function(e) {
    var input = prompt("Please enter a steamid to add to {{team2.name}}", "");
    if (input != null) {
      window.location.href = "{{request.path}}/adduser?team=team2&auth=" + encodeURIComponent(input);
    }
});

jQuery("#addplayer_spec").click(function(e) {
    var input = prompt("Please enter a steamid to add to the spectators list", "");
    if (input != null) {
      window.location.href = "{{request.path}}/adduser?team=spec&auth=" + encodeURIComponent(input);
    }
});

jQuery("#rcon_command").click(function(e) {
    var input = prompt("Enter a command to send", "");
    if (input != null) {
      window.location.href = "{{request.path}}/rcon?command=" + encodeURIComponent(input);
    }
});
</script>


{% endblock %}
